header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(84rem / 64);
    background-color: #f5f5f5;
}

main {
    padding-top: calc(84rem / 64);
}

.nav {
    width: 100%;
    margin-top: calc(36rem / 64);
    margin-bottom: calc(40rem / 64);
}

.nav a {
    display: block;
    float: left;
    width: 25%;
    text-decoration: none;
    color: black;
    text-align: center;
}

.nav a span {
    display: block;
    width: calc(55rem / 64);
    height: calc(55rem / 64);
    background-size: auto 100%;
    margin: 0 auto;
}

.nav a:first-child span {
    background-image: url(../images/nav-1.webp);
}

.nav a:nth-child(2) span {
    background-image: url(../images/nav-2.webp);
}

.nav a:nth-child(3) span {
    background-image: url(../images/nav-3.webp);
}

.nav a:nth-child(4) span {
    background-image: url(../images/nav-4.webp);
}

.nav a:nth-child(5) span {
    background-image: url(../images/nav-5.webp);
}

.nav a:nth-child(6) span {
    background-image: url(../images/nav-6.webp);
}

.nav a:nth-child(7) span {
    background-image: url(../images/nav-7.webp);
}

.nav a:nth-child(8) span {
    background-image: url(../images/nav-8.webp);
}

.nav a:nth-child(-n+4) {
    margin-bottom: calc(29rem / 64);
}

.nav a p {
    margin-top: calc(8rem / 64);
}

.adv {
    width: 100%;
    height: calc(212rem / 64);
}

.adv a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../upload/adv_.webp);
    background-size: 100% 100%;
}

.title {
    padding: calc(40rem / 64) calc(26rem / 64);
}

.title h3 {
    float: left;
    font-weight: 700;
    font-size: calc(29rem / 64);
}

.title a {
    float: right;
    color: #999999;
    text-decoration: none;
    margin-top: calc(5rem / 64);
}

.title a i {
    display: block;
    float: right;
    margin-top: calc(-4rem / 64);
}

.time {
    padding: 0 calc(26rem / 64);
    padding-bottom: calc(46rem / 64);
}

.time a {
    float: left;
    text-decoration: none;
    color: #999999;
    margin-right: calc(49rem / 64);
}

.time a:first-child {
    color: #333333;
}

.time a:last-child {
    margin-right: 0;
}

.show ul {
    width: 100%;
    height: calc(470rem / 64);
    overflow-x: scroll;
    margin-left: calc(26rem / 64);
    margin-bottom: calc(0rem / 64);
}

.show ul li {
    width: calc(2780rem / 64);
    height: 100%;
}

.show ul li a {
    display: block;
    float: left;
    width: calc(260rem / 64);
    margin-right: calc(18rem / 64);
    text-decoration: none;
}

.show ul li a:last-child {
    margin-right: 0;
}

.show ul li a i {
    display: block;
    width: calc(260rem / 64);
    height: calc(380rem / 64);
    background-size: 100% 100%;
    border-radius: calc(6rem / 64);
}

.show ul li a:first-child i {
    background-image: url(../upload/show-1.webp);
}

.show ul li a:nth-child(2) i {
    background-image: url(../upload/show-2.webp);
}

.show ul li a:nth-child(3) i {
    background-image: url(../upload/show-3.webp);
}

.show ul li a:nth-child(4) i {
    background-image: url(../upload/show-4.webp);
}

.show ul li a:nth-child(5) i {
    background-image: url(../upload/show-5.webp);
}

.show ul li a:nth-child(6) i {
    background-image: url(../upload/show-6.webp);
}

.show ul li a:nth-child(7) i {
    background-image: url(../upload/show-7.webp);
}

.show ul li a:nth-child(8) i {
    background-image: url(../upload/show-8.webp);
}

.show ul li a:nth-child(9) i {
    background-image: url(../upload/show-9.webp);
}

.show ul li a:nth-child(10) i {
    background-image: url(../upload/show-10.webp);
}

.show ul li a p {
    margin-top: calc(31rem / 64);
    margin-bottom: calc(9rem / 64);
    font-weight: bolder;
    color: #000000;
    font-size: calc(24rem / 64);
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.show ul li a span {
    display: block;
    color: #000000;
    font-size: calc(22rem / 64);
}

.s-title h3 {
    font-weight: 700;
    font-size: calc(29rem / 64);
}